<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Borrow Book</h1>
        <a href="{{ url_for('index') }}">На главную</a>

        <form action="{{ url_for('borrow_book') }}" method="post">
            <label for="member_id">ID пользователя:</label>
            <input type="number" id="member_id" name="member_id" required>
            <label for="title">Название книги:</label>
            <input type="text" id="title" name="title" required>
            <button type="submit">Взять на прокат</button>
        </form>
    </div>
</body>
</html>
